.input {
    outline: none;
    border: 1px solid rgb(163, 163, 163);
    background-color: rgb(212, 243, 241);
    height: 5vh;
    padding: 2vh;
    border-radius: 2vh;
}

p {
    text-align: left;
}

.btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}