.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    padding: 2vh;
}

.list input {
    padding: 1.5vh;
    width: 13vw;
    outline: 1px solid blue;
    border: none;
}

.list button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(83, 83, 199);
    color: white;
    width: 7vh;
    height: 7vh;
    border-radius: 50%;
    font-size: small;
    cursor: pointer;
    border: none;
}

.list button:hover {
    scale: 1.03;
}

.img {
    height: 80%;
    width: 80%;
    font-weight: bolder;
}