.hr {
    width: 95%;
    border: 1px solid #3E4042;
    margin-top: 4vh;
    opacity: 0.7;
}

.btns {
    width: 95%;
    display: flex;
    align-items: center;
}

.btns .text {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(163, 163, 163);
    border-radius: 1vh;
    padding: 1vh 0;
    margin: 1vh 1vh;
    height: 4vh;
    width: 90%;
}

.btns .text:hover {
    background-color: #3E4042;
}



.emojies {
    display: flex;
    height: 6vh;
    width: 95%;
    bottom: -1vh;
    position: relative;
    background-color: #242526;
    border-radius: 5vh;
    padding: 0.5vh 1vh;
    justify-content: left;
    z-index: 1;
    transition: 2s ease;
}

.emojies img {
    margin: 0 1vh;
    height: 5.5vh;
    width: 5.5vh;
}

.emojies img:hover {
    cursor: pointer;
    transform: scale(1.4)
}