body {
    margin: 0;
    padding: 0;
    background-color: #18191a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;

}

.randomImg {
    border-radius: 50%;
}