.nav {
    background-color: #242526;
    height: 9vh;
    width: 99%;
    border: 1px solid #393a3b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vh;
    position: fixed;
    top: 0;
    z-index: 1;

}

.nav .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22vw;
}

.left img {
    height: 6.5vh;
    cursor: pointer;
}

.left input {
    all: unset;
    background-color: #3a3b3c;
    padding: 1.6vh 3vh;
    border-radius: 5vh;
    color: rgb(228, 227, 227);
    width: 70%;
    margin: 0 1vh;
}

.left input::placeholder {
    color: rgb(192, 192, 192);
    opacity: 0.8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav .center {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center button {
    all: unset;
    background-color: #242526;
    padding: 1.5vh 7.5vh;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 2vh;
    margin: 0 0.5vh;
    text-decoration: 2px underline;
}


.center button:hover {
    background-color: #3a3b3c;
}

.nav .right {
    display: flex;
    justify-content: right;
    width: 20.5vw;
    padding: 0vh 2vh;
}

.right button {

    all: unset;
    margin: 0 1vh;
    width: 6.3vh;
    height: 6.5vh;
    text-align: center;
    background-color: #3a3b3c;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}

.right button:hover {

    background-color: #595a5c;
}

.right img {
    height: 6.5vh;
    cursor: pointer;
}

.nav .profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 75vh;
    width: 25vw;
    position: absolute;
    right: 2vw;
    top: 8vh;
    border-radius: 1.5vh;
    background-color: #242526;
    border: 2px solid rgb(36, 34, 34);
}

.profile .container {
    height: 25%;
    width: 90%;
    box-shadow: 1vh 1vh 1vh #1d1b1b;
    padding: 2vh 0;
}

.container .list {
    font-weight: 600;
    color: #d3d5d9;
    padding: 1.8vh;
    border-radius: 1.5vh;
    display: flex;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
}

.container .list:hover {
    cursor: pointer;
    background-color: #3a3b3c;
}

.container .list label {
    margin: 0 2vh;
}

.container .list img {
    height: 6.5vh;
}

.container hr {
    width: 90%;
    border: 1px solid #3E4042;
    opacity: 0.7;
}

.container button {
    all: unset;
    text-align: center;
    margin: 0 1.4vw;
    width: 85%;
    cursor: pointer;
    padding: 1vh;
    font-size: 2.5vh;
    background-color: #3A3B3C;
    color: #ecedf0;
    border-radius: 1vh;
}

.container button:hover {
    background-color: #595a5c;

}

.profile .list2 {
    font-weight: 600;
    width: 85%;
    color: #d3d5d9;
    padding: 1.8vh;
    border-radius: 1.5vh;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    overflow-y: auto;
}

.profile .list2:hover {
    background-color: #3a3b3c;
}

.profile .list2 label {
    margin: 0 2vh;
}

.profile .list2 img {
    height: 4.5vh;
}